body{
    background-color: rgb(73, 72, 72);
}
#moh{
    background-color: #7c7c7c;
    width: calc(80% / 5); 
    height: 300px;
    padding: 10px 10px 10px 10px;
    margin: 7%;
    color: rgb(0, 0, 0);
   border-radius: 20px;
   float: left;
}
#Ipad{
    background-color: #d6d6d6;
    width: calc(75% / 5); 
    height: 200px;
    padding: 10px 10px 10px 10px;
    margin: 8%;
    color: rgb(59, 59, 59);
   border-radius: 20px;
   float: left;
}
#tv{
    background-color: #797373;
    width: calc(80% / 5); 
    height: 350px;
    padding: 10px 10px 10px 10px;
    margin: 7%;
    color: rgb(255, 255, 255);
   border-radius: 20px;
   float: left;
}
#hmok{
    width: 130px;
   height: 130px;
   border-radius: 20px;

}
#rowad{
    
    color: rgb(49, 49, 49);
    text-decoration-line: none;
   
}
#list{
    width: 100%;
    float: right;
    background-color: #d6d6d6;
    color: rgb(53, 53, 53);
}
ul li{
    display: inline;
    padding: 40px 40px 40px 40px ;
}
#a{
    text-decoration-line: none;
    color: rgb(61, 59, 59); 
}
