#Unite{
    background-color: rgb(110, 59, 0);
    color: floralwhite;
    float: left;
    width: 250px; height: 350px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 50px 104px 50px 50px;
}
#out{
    width: 70px;
    height: 70px;
    float: left;
}
h1{
width: 80%;
padding-right: 150px;

float: right;
}
a{
    float: left;
}